<!-- src/views/admin/dashboard.ejs -->
<%- include('../partials/header.ejs') %>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">

  <h2>Editar Producto</h2>

  <!-- Formulario para editar un producto -->
 <form action="/admin/editProduct/<%= product.product_id %>" method="post">
  <div class="row">
    <div class="col-md-6">
      <label class="label-texto" for="categoria">Categoría:</label>
        <select name="categoria" id="categoria" class="formulario-objetos buscador-completo">
            <% categorias.forEach((categoria) => { %>
              <option value="<%= categoria.category_id %>" <%= categoria.category_id === product.category_id ? 'selected' : '' %>><%= categoria.category_name %></option>
            <% }); %>
       </select>
    </div>
    <div class="col-md-6">
      <label class="label-texto" for="licencia">Licencia:</label>
        <select name="licencia" id="licencia">
          <% licencias.forEach((licencia) => { %>
            <option value="<%= licencia.licence_id %>" <%= licencia.licence_id === product.licence_id ? 'selected' : '' %>><%= licencia.licence_name %></option>
          <% }); %>
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="label-texto" for="nombre">Nombre del Producto:</label>
        <input type="text" name="nombre" value="<%= product.product_name %>" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <label class="label-texto" for="descripcion">Descripción del Producto:</label>
        <textarea name="descripcion" rows="4" required><%= product.product_description %></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <label class="label-texto" for="sku">SKU:</label>
        <input type="text" name="sku" value="<%= product.sku %>" required>
    </div>
    <div class="col-md-4">
      <label class="label-texto" for="precio">Precio:</label>
        <input type="number" name="precio" step="0.01" value="<%= product.price %>" required>
    </div>
    <div class="col-md-3">
      <label class="label-texto" for="stock">Stock:</label>
        <input type="number" name="stock" value="<%= product.stock %>" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label class="label-texto" for="descuento">Descuento:</label>
        <input type="number" name="descuento" value="<%= product.discount %>">
    </div>
    <div class="col-md-6">

      <label class="label-texto" for="cuotas">Cuotas:</label>
        <select name="cuotas">
          <option value="3" <%= product.dues === 3 ? 'selected' : '' %>>3 cuotas sin interés</option>
          <option value="6" <%= product.dues === 6 ? 'selected' : '' %>>6 cuotas sin interés</option>
          <option value="9" <%= product.dues === 9 ? 'selected' : '' %>>9 cuotas sin interés</option>
          <option value="12" <%= product.dues === 12 ? 'selected' : '' %>>12 cuotas sin interés</option>
        </select>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <label>Imágenes:</label> <input type="file" name="imagenes" accept="image/*" multiple disabled="">
        <div class="imagenes-disenios">
          <div class="contenedor-imagen">
            <img src="/img<%= product.image_front %>" alt="Imagen frontal">
            <p class="texto-producto-admin">Frente</p>
          </div>
          <div class="contenedor-imagen">
            <img src="/img<%= product.image_back %>" alt="Imagen trasera">
            <p class="texto-producto-admin">Caja</p>
          </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit">Modificar Producto</button>
    </div>
  </div>

</form>



    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>



<%- include('../partials/footer.ejs') %>